.input {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: 600;
    color: #000;
}

.input::placeholder {
    color: #999;
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Questrial', sans-serif;
}

.input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    color: #000;
}

.mutable {
    display: flex;
    color: #000;
    background-color: #007bff10;
}